# Test Environment Configuration
# This file will be used when running tests

# =============================================================================
# Database initialization (used by Docker Compose)
# Need a separate database then dev/prod because tests always reset the database
# =============================================================================
POSTGRES_USER=adonis_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=tournament-registration-manager-test
POSTGRES_PORT=5432

# =============================================================================
# Backend (AdonisJS) configuration
# =============================================================================
TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
# Generate this key using `node ace generate:key`
APP_KEY=
NODE_ENV=test

# Database connection for AdonisJS
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=adonis_user
DB_PASSWORD=your_secure_password
DB_DATABASE=tournament-registration-manager-test

# Use memory session driver for tests because cookie driver fails in test env
SESSION_DRIVER=memory

# =============================================================================
# Mail Configuration (using mailpit in docker-compose)
# =============================================================================
SMTP_HOST=localhost
SMTP_PORT=1025

# =============================================================================
# FFTT API Client
# =============================================================================

# Force mock FFTT client for running tests
FFTT_MOCK=true

# =============================================================================
# Application configuration
# =============================================================================

# Admin credentials
# Initialize administrator credentials on first run
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
ADMIN_NAME=Admin

# Payment Expiration
# If a payment is not completed within this time (in minutes), it will be cancelled
PAYMENT_EXPIRATION_MINUTES=30
# Interval (in minutes) to clean up expired payments, runned by node-cron
PAYMENT_CLEANUP_INTERVAL_MINUTES=5

# URLs
VITE_API_URL=http://localhost:3333
FRONTEND_URL=http://localhost:5173
