TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
SESSION_DRIVER=cookie

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
ADMIN_NAME=Admin

# FFTT API
FFTT_APP_ID=
FFTT_SERIE=
FFTT_PASSWORD=
FFTT_MOCK=false

# Mail
SMTP_HOST=localhost
SMTP_PORT=1025

# HelloAsso Payment Integration
HELLOASSO_CLIENT_ID=
HELLOASSO_CLIENT_SECRET=

# can be found in the URL of your HelloAsso organization page
HELLOASSO_ORGANIZATION_SLUG=

# If true, will use HelloAsso sandbox environment
HELLOASSO_SANDBOX=true

# used by the API to generate return URLs after payment
FRONTEND_URL=https://frontend.example.com

# Payment Expiration
PAYMENT_EXPIRATION_MINUTES=30
PAYMENT_CLEANUP_INTERVAL_MINUTES=5
